[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=durra
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=DURRA
Comment=Developer Uses Revision contRoll for Art(-Projects)